# Raw downloaded MISO data
market-evaluation/data/raw/
market-rnd/data/raw/

# Large downloaded archives
*.zip

# R / RStudio temporary files
.Rhistory
.RData
.Ruserdata
.Rproj.user/

# Temporary files
*.tmp
~$*

# Local processed R objects
market-evaluation/data/processed/*.rds

# Python temporary files
__pycache__/
*.py[cod]
.venv/
venv/
